/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: rgba(0,0,0,0.9);
  color: rgb(221, 236, 248);
  font-family: 'Titillium Web', sans-serif;
}
h1, h2{
  margin: .5rem;
}
h1{
  color: #004e9b;
}
.flexit{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
  width: 80vw;
}
.input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5rem 0;
}
input{
  background-color: lightgray;
  line-height: 1.5rem;
  margin: .5rem;
}
button{
  padding: 0 2rem;
  line-height: 2rem;
  background-color: #003972;
  background: linear-gradient(to bottom,  #003972 0%,#001322 100%);
  color: aliceblue;
  border-radius: .25rem;
  border: .05rem solid rgba(0,0,0,0.9);
}
button:hover{
  opacity: 0.9;
  cursor: pointer;
}
button:active{
  background: linear-gradient(to top,  #003972 0%,#001322 100%);
}
button:first-of-type{
  margin-right: .25rem;
}
a{
  color:rgb(118, 133, 180);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
img{
  display: block;
  margin: 1rem auto;
  width: 60vw;
  border-radius: 0.375rem;
}
iframe{
  width: 60vw;
  height: 60vh;
}
.expl{
  font: 1.25em sans-serif;
  text-align: left;
}
.show{
  display: block;
}
.hide{
  display: none;
}
span{
  font-style: italic;
  font-size: .75rem;
  align-self: flex-end;
  margin-right: 10vw;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (max-width: 700px) {
  .flexit{
    width: 96vw;
  }
  .input{
    width: 70vw;
    flex-direction: column;
    margin: .25rem;
  }
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
    font-size: 1.2rem;
  }
  button:first-of-type{
    margin-right: 0;
    margin-bottom: .2rem;
  }
  img, iframe{
    width: 96vw;
  }
  iframe{
    height: 60vh;
  }
  span{
    margin-right: 1vw;
  }
  .expl{
    width: 94vw;
    font-size: .85rem;
    line-height: 1.2rem;
    text-align: left;
  }
}
